@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <header class="header">
        <div class="header-content">
            <div class="icon-container" @onclick="NavigateHome">
                <span class="e-icons e-home big-red-home"></span>             
            </div>
        </div>
    </header>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void NavigateHome()
    {
        Navigation.NavigateTo("/");
    }
}