@page "/albums"
@rendermode InteractiveServer
@using DataExplorerModels
@inject AlbumsService AlbumsService

<div class="page-content-container">
    <h3>Albums Page</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Album Title</th>
                <th>Created By</th>
                <th>From Company</th>
            </tr>
        </thead>
        <tbody>
            @if (albums != null)
            {
                @foreach (var album in albums)
                {
                    <tr>
                        <td>@album.Title</td>
                        <td>@album.User.Username</td>
                        <td>@album.User.Company.Name</td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="4">Loading...</td></tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Album> albums = new();

    protected override async Task OnInitializedAsync()
    {

        await GetAlbums();
    }

    private async Task GetAlbums()
    {
        try
        {
            albums = await AlbumsService.GetAlbumsAsync();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine("Error: " + ex.Message);
            albums = new List<Album>();
        }
    }
}
